<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gameshop">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".UserInfoActivity"></activity>
        <activity android:name=".SqlCodeActivity" />
        <activity android:name=".transactionActivity.TransactionsActivity" />
        <activity android:name=".tables.GenresTableActivity" />
        <activity android:name=".tables.TablePickerActivity" />
        <activity android:name=".genrelActivity.GenreActivity" />
        <activity android:name=".PickAddingActivity" />
        <activity android:name=".tables.UsersListActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".AddGameActivity" />
        <activity android:name=".shopActivity.ShopActivity" />
        <activity android:name=".authorization.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>